<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Learn to Code</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}"/>

    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/navbar.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/tiling.css}" type="text/css"/>

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>

    <script src="/js/selecting.js"></script>
</head>
<body>
<div id="wrapper">
    <aside id="sidebar-wrapper">
        <div class="sidebar-brand">
            <h2>L2C</h2>
        </div>
        <ul class="sidebar-nav">
            <li class="active">
                <a href="/dashboard"><i class="fa fa-home"></i>Dashboard</a>
            </li>
            <li>
                <a href="/config"><i class="fa fa-cog"></i>Config</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-plug"></i>Plugins</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-user"></i>Users</a>
            </li>
        </ul>
    </aside>

    <div id="navbar-wrapper">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="#" class="navbar-brand" id="sidebar-toggle"
                    ><i class="fa fa-bars"></i
                    ></a>
                </div>
            </div>
        </nav>
    </div>

    <section id="content-wrapper">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Device Id</th>
                <th scope="col">Timestamp</th>
                <th scope="col">Details</th>
                <th scope="col">Type</th>
                <th scope="col">Device Type</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="event, iterStatus: ${events}">
                <th scope="row" th:text="${event.getEventId()}"></th>
                <td th:text="${event.getDeviceId()}"></td>
                <td th:text="${#temporals.format(event.getTimestamp(), 'dd-MM-yyyy HH:mm')}"></td>
                <td th:text="${event.getDetails()}"></td>
                <td th:text="${event.getDeviceEventType()}"></td>
                <td th:text="${event.getSourceType()}"></td>
            </tr>
            </tbody>
        </table>
        <div class="row justify-content-between">
            <div class="column-view col-sm">
                <div class="row heading"><h4>Firmware Distribution</h4></div>
                <div class="row">
                    <div class="col-sm">
                        <select id ="brand-selector" name="brand-selector" onchange="updateModels(value)">
                            <option value=""> -- </option>
                            <option th:each="brand : ${brands}"
                                    th:value="${brand}"
                                    th:utext="${brand}"></option>
                        </select>
                    </div>
                    <div class="col-sm">
                        <select id ="model-selector" name="model-selector" onmousedown="this.value='';" onchange="updateChart(value);">
                            <option value=""> -- </option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <canvas id="firmwareDistributionChart" width="400" height="400"></canvas>
                </div>
            </div>
            <div class="column-view col-sm">
                <div class="row heading"><h4>Stat Grid</h4></div>
                <div id="stat-grid" class="stat-grid">
                    <div class="btn-dark">
                        <div class="centered-text">
                            <div>28</div>
                            <div class="active-devices">Active</div>
                        </div>
                    </div>
                    <div class="btn-dark">
                        <div class="centered-text">
                            <div>2</div>
                            <div class="active-devices">Disabled</div>
                        </div>
                    </div>
                    <div class="btn-dark">
                        <div class="centered-text">
                            <div>12</div>
                            <div class="active-devices">Outdated</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row heading"><h4>Monitoring</h4></div>
        <div id="dashboard-grid" class="grid">
            <div class="btn-danger">
                <div class="padded-text">
                    <div class="service-name">Huawei</div>
                    <div class="service-address">TP-222</div>
                    <div class="service-dashboard bottom-align">
                        Bedroom Window Plug
                    </div>
                </div>
            </div>
            <div class="btn-success">
                <div class="padded-text">
                    <div class="service-name">Microtek</div>
                    <div class="service-address">DS-191</div>
                    <div class="service-dashboard bottom-align">
                        Bedroom Lightbulb
                    </div>
                </div>
            </div>
            <div class="btn-success">
                <div class="padded-text">
                    <div class="service-name">Synology</div>
                    <div class="service-address">DS218+</div>
                    <div class="service-dashboard bottom-align">
                        Home NAS
                    </div>
                </div>
            </div>
            <div class="btn-success">
                <div class="padded-text">
                    <div class="service-name">stuff</div>
                    <div class="service-address">stuff</div>
                    <div class="service-dashboard bottom-align">
                        sss
                    </div>
                </div>
            </div>
            <div class="btn-warning">
                <div class="padded-text">
                    <div class="service-name">Samsung</div>
                    <div class="service-address">SFM-10090</div>
                    <div class="service-dashboard bottom-align">
                        Smart Fridge
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/chart.js/dist/Chart.min.js}"></script>
<script>
    $("#sidebar-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
<!--<script src="static/js/rerenderer.js"></script>-->
<!--<script src="static/js/tiling.js"></script>-->
</body>
</html>
